@font-face {
    font-family: regular;
    src: url(/font/Lora-Italic-VariableFont_wght.ttf);
}

* {
    font-family: 'Lato', sans-serif;
    ;
}

h1,
h2,
h3,
h4,
h5 {
    font-family: regular;
}

/* body */
body {
    margin: 0%;
}

.universal {
    padding: 0% 7%;
}

/* nvbar */
#navbar {
    background-color: rgb(37, 113, 176);
    color: white;
    overflow: auto;
}
#logo{
        padding-left: 40%;
}
#logo img {
    height: 40px;
    width: 40px;

    float: left;
    padding-top: 28px;


}

#logo h3 {
    float: left;
    padding-left: 30px;
    padding-top: 10px;
    font-size: 25px;
    font-weight: bold;
}
/* menu */
#menu{
    background-color: rgb(193, 193, 151);
    color: white;
    padding-left: 25%;
    padding-top: 5%;
    padding-bottom: 5%;
    overflow: auto;
    z-index: 1;
    
}
#menu50{
    float: left;
    width: 50%;
}
#menu50 ul{
    padding: 0;
}
#menu50 ul li{
    list-style: none;
    font-size: 25px;
}
#end{ 
    background-color: rgb(37, 113, 176);   
    padding-top: 30px;
    padding-bottom: 50px;
    
    
   
}

